
<details>
        <summary> Shopping Cart </summary>
          <ul>
            <% @cart.each do |p| %>
              <li>
               <%= p.product_name %> - <%= number_to_currancy.p.sold_at %>
              </li>
              <% end %>
          </ul>
    </details>